<section>
	<h3>instructions:</h3>
	<ol>
		<li>once you get started, type a letter you want to guess(no numbers or symbols)</li>
		<li>if the letter matches one in the secret phrase, it will reveal where it is, and show in the guessed correct
			letters box</li>
		<li>you have 7 incorrect guesses before you lose </li>
		<li>once the round ends, you may continue to get a new word if you would like</li>
	</ol>
	<p>
		press any key to get started!
		<span class="blink">_</span>
		<input type="text" class="hidden" autofocus maxlength="1">
  </p>

</section>